.container{
    max-width: 60%;
    background-color: aliceblue;
    margin: 0 auto;
    min-height: 400px;
}

.logo{
    min-height: 80px;
    background: url("img/nova.jpg") center no-repeat;
    background-size: 100% auto;
}

.navbar{
    min-height: 40px;
}

.nav{
    list-style: none;
    line-height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #00152e;
}

.nav>li{
    display: inline-block;
}

.menu-point{
    width: 60px;
    margin-left: 10px;
    background-color: #00152e;
    padding: 6px 12px;
    text-decoration: none;
    color: azure;
    font-family: Tahoma;
    font-size: small;
}

.menu-point:hover{
    background-color: #0080bd;
}

.banner{
    height: 100px;
    background: url("img/page_head_img_banner_bg.jpg") bottom repeat-x;
}

.partner-logo{
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
}

.content{
    min-height: 200px;
    text-align: center;
}

.partner-logo-box{
    width: 80px;
    height: 80px;
    display: inline-block;
}

.partner-logo-box img{
    max-width: 100%;
    max-height: 100%;
}

.articles{
    width: 60%;
    min-height: 100px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.a-cap{
    font-family: Tahoma;
    font-size: small;
    margin: 10px;
}

.a-text{
    font-family: Tahoma;
    font-size: x-small;
    margin: 10px;
}

.articles-pic{
    width: 38%;
    height: 150px;
    display: inline-block;
    margin-top: 20px;
    box-shadow: dimgray 4px 8px 4px;
    overflow: hidden;
}

.articles-pic img{
    max-height: 100%;
}

footer{
    min-height: 40px;
    border: blueviolet;
    background-color: darkseagreen;
    text-align: center;
    vertical-align: middle;
}

.cr{
    line-height: 40px;
    margin: 0;
    padding: 0;
}