/*
Контейнер для всей конструкции страницы
=================================================
*/

.container{
    max-width: 900px;
    background-color: aliceblue;
    margin: 0 auto;
    min-height: 400px;
}

/*
Шапка страниы
=================================================
*/

.logo{
    min-height: 120px;
    background: url("img/nova.jpg") center no-repeat;
    background-size: 100% auto;
}

/*
Меню в шапке страницы
=======================================
*/

.nav{
    min-height: 40px;
}

.navbar{
    list-style: none;
    line-height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #00152e;
}

.navbar li{
    display: inline-block;
}

.menu-point{
    width: 60px;
    margin-left: 10px;
    background-color: #00152e;
    padding: 6px 12px;
    text-decoration: none;
    color: azure;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.menu-point:hover{
    background-color: #0080bd;
}

/*
Какой-то горизотальный баннер.
=================================================
*/

.banner{
    height: 100px;
    background: url("img/page_head_img_banner_bg.jpg") bottom repeat-x;
}

/*
Блок с логотипами
=================================================
*/

.partner-logo{
    text-align: center;
    vertical-align: middle;
    padding-top: 4px;
}

.partner-logo-box{
    width: 80px;
    height: 80px;
    margin-left: 40px;
    display: inline-block;
}

.partner-logo-box img{
    max-width: 100%;
    max-height: 100%;
}

/*
Блок содержимого страницы (статья и картинка)
=================================================
*/

.content{
    min-height: 200px;
    text-align: center;
    margin: 20px 0;
}

.articles{
    width: 60%;
    min-height: 100px;
    display: inline-block;
    text-align: justify;
    vertical-align: top;
    background-color: white;
    margin-right: 10px;
}

.a-cap{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin: 10px;
}

.a-text{
    font-family: 'Roboto', sans-serif;
    font-size: small;
    margin: 10px;
}

.articles-pic{
    width: 36%;
    display: inline-block;
    text-align: center;
}

.articles-pic img{
    max-width: 100%;
    height: auto;
}

/*
Подвал
=================================================
*/

footer{
    min-height: 40px;
    background-color: #00152e;
    text-align: center;
    vertical-align: middle;
    color: white;
}

footer p{
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.cr{
    line-height: 40px;
    margin: 0;
    padding: 0;
}

/*
Медиазапросы
=================================================
*/

@media only all and (min-width: 980px) {
    .container{
        width: 900px;
    }
}

@media only all and (max-width: 640px) {
    .container{
        width: 100%;
    }
    .articles{
        width: 100%;
    }
    .articles-pic{
          width: 50%;
    }

    /*======== Menu =========*/
}


@media only all and (max-width: 400px) {
    .container{
        width: 100%;
    }
    .articles{
        width: 100%;
    }
    .articles-pic{
        width: 100%;
    }
    .banner{
        display: none;
    }
}
